$colors: (
  light-blue: #82b5a5,
  deep-blue: #2b3f60,
  primary-pink: #f36b7f,
  black: #000000,
  lighter-blue: #f5f7fd,
);
$body-font: 16px;
$font-families: (
  main: "open s",
  secondary: "roboto",
);

.pink-button {
  min-width: 167px;
  min-height: 43px;
  border: 0;
  border-radius: 25px;
  color: #fff;
  background-color: map-get($colors, primary-pink);
}
